<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>ProjektCheck</Name><AddInID>{9b0f33ed-0bf7-41aa-8957-a7ad885b6d31}</AddInID><Description>New Addin</Description><Version>0.1</Version><Image /><Author>Untitled</Author><Company>Untitled</Company><Date>04/25/2017</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="rpc_tools_addin.py" namespace="rpc_tools"><ArcMap>
    <Commands>
        <ComboBox caption="Projekt" category="ProjektCheck" class="ProjektAuswahl" id="rpc_tools.projekt_auswahl" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip="Nur dieses Projekt k&#246;nnen Sie editieren und analysieren"><Help heading="" /></ComboBox>
        <Button caption="Layer aktualisieren" category="ProjektCheck" class="RefreshLayers" id="rpc_tools.refresh_layers" image="Images\ArcGISExplorer16.png" message="" tip="aktualisiert die verwendeten Layer im Inhaltsverzeichnis"><Help heading="" /></Button>
        <Button caption="Neues Projekt" category="ProjektCheck" class="ProjektAnlegen" id="rpc_tools.neues_projekt" image="Images\1002-add2.png" message="" tip=""><Help heading="" /></Button>
        <Button caption="Projekt kopieren" category="ProjektCheck" class="ProjektKopieren" id="rpc_tools.projekt_kopieren" image="Images\1002-add.png" message="" tip=""><Help heading="" /></Button>
        <Button caption="Projekt l&#246;schen" category="ProjektCheck" class="ProjektLoeschen" id="rpc_tools.projekt_loeschen" image="Images\1001-cancel.png" message="" tip=""><Help heading="" /></Button>
        <Button caption="Nutzungen auf Teilfl&#228;chen definieren" category="ProjektCheck" class="ButtonClass16" id="rpc_tools.button_3" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Wohnen" category="ProjektCheck" class="Wohnen" id="rpc_tools.button_4" image="Images\011000-home.png" message="" tip=""><Help heading="" /></Button>
        <Button caption="Gewerbe" category="ProjektCheck" class="ButtonClass18" id="rpc_tools.button_5" image="Images\506700-factory.png" message="" tip=""><Help heading="" /></Button>
        <Button caption="Einzelhandel" category="ProjektCheck" class="ButtonClass19" id="rpc_tools.button_6" image="Images\650000-grocery-shop.png" message="" tip=""><Help heading="" /></Button>
        <ComboBox caption="Netzart" category="ProjektCheck" class="NetzartAuswahl" id="rpc_tools.netzart_auswahl" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip=""><Help heading="" /></ComboBox>
        <Tool caption="Linie hinzu" category="ProjektCheck" class="NetzlinieTool" id="rpc_tools.netzlinie_tool" image="Images\KML_Line16.png" message="" tip=""><Help heading="" /></Tool>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="ProjektCheck" category="ProjektCheck" id="rpc_tools.toolbar" showInitially="true"><Items><ComboBox refID="rpc_tools.projekt_auswahl" /><Button refID="rpc_tools.refresh_layers" /><Menu refID="rpc_tools.menu" /><Menu refID="rpc_tools.menu_1_1" /><Menu refID="rpc_tools.menu_2" /></Items></Toolbar>
        <Toolbar caption="ProjektCheck Netzerschliessung" category="ProjektCheck" id="rpc_tools.toolbar_netz" showInitially="true"><Items><ComboBox refID="rpc_tools.netzart_auswahl" /><Tool refID="rpc_tools.netzlinie_tool" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        <Menu caption="Verwalten" category="ProjektCheck" id="rpc_tools.menu" isRootMenu="false" isShortcutMenu="true" separator="true"><Items><Button refID="rpc_tools.neues_projekt" /><Button refID="rpc_tools.projekt_kopieren" /><Button refID="rpc_tools.projekt_loeschen" /></Items></Menu>
        <Menu caption="Detailangaben zu Nutzungen auf Teilfl&#228;chen" category="ProjektCheck" id="rpc_tools.nutzungen_menu" isRootMenu="false" isShortcutMenu="true" separator="true"><Items><Button refID="rpc_tools.button_4" /><Button refID="rpc_tools.button_5" /><Button refID="rpc_tools.button_6" /></Items></Menu>
        <Menu caption="Definieren" category="ProjektCheck" id="rpc_tools.menu_1_1" isRootMenu="false" isShortcutMenu="true" separator="true"><Items><Button refID="rpc_tools.button_3" /><Menu refID="rpc_tools.nutzungen_menu" /></Items></Menu>
        <Menu caption="Bewohner und Arbeitspl&#228;tze" category="ProjektCheck" id="rpc_tools.menu_3" isRootMenu="false" isShortcutMenu="true" separator="true"><Items /></Menu>
        <Menu caption="Erreichbarkeit" category="ProjektCheck" id="rpc_tools.menu_4" isRootMenu="false" isShortcutMenu="true" separator="true"><Items /></Menu>
        <Menu caption="Verkehr im Umfeld" category="ProjektCheck" id="rpc_tools.menu_5" isRootMenu="false" isShortcutMenu="true" separator="true"><Items /></Menu>
        <Menu caption="Fl&#228;che und &#214;kologie" category="ProjektCheck" id="rpc_tools.menu_6" isRootMenu="false" isShortcutMenu="true" separator="true"><Items /></Menu>
        <Menu caption="Infrastrukturfolgekosten" category="ProjektCheck" id="rpc_tools.menu_7" isRootMenu="false" isShortcutMenu="true" separator="true"><Items><Button refID="rpc_tools.netz_button" /></Items></Menu>
        <Menu caption="Kommunale Steuereinnahmen" category="ProjektCheck" id="rpc_tools.menu_8" isRootMenu="false" isShortcutMenu="true" separator="true"><Items /></Menu>
        <Menu caption="Standortkonkurrenz" category="ProjektCheck" id="rpc_tools.menu_9" isRootMenu="false" isShortcutMenu="true" separator="true"><Items /></Menu>
        <Menu caption="Analysieren" category="ProjektCheck" id="rpc_tools.menu_2" isRootMenu="false" isShortcutMenu="true" separator="true"><Items><Menu refID="rpc_tools.menu_3" /><Menu refID="rpc_tools.menu_4" /><Menu refID="rpc_tools.menu_5" /><Menu refID="rpc_tools.menu_6" /><Menu refID="rpc_tools.menu_7" /><Menu refID="rpc_tools.menu_8" /><Menu refID="rpc_tools.menu_9" /></Items></Menu>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>