/template_innerorts.CPG
/template_innerorts.dbf
/template_innerorts.prj
/template_innerorts.sbn
/template_innerorts.sbx
/template_innerorts.shp
/template_innerorts.shx
/template_innerorts2.cpg
/template_innerorts2.dbf
/template_innerorts2.prj
/template_innerorts2.sbn
/template_innerorts2.sbx
/template_innerorts2.shp
/template_innerorts2.shx
/templates.zip
/andere gemeinde.CPG
/andere gemeinde.dbf
/andere gemeinde.prj
/andere gemeinde.sbn
/andere gemeinde.sbx
/andere gemeinde.shp
/andere gemeinde.shp.xml
/andere gemeinde.shx
/eine_flaeche.CPG
/eine_flaeche.dbf
/eine_flaeche.prj
/eine_flaeche.sbn
/eine_flaeche.sbx
/eine_flaeche.shp
/eine_flaeche.shp.xml
/eine_flaeche.shx
/selbe_gemeinde_weit.CPG
/selbe_gemeinde_weit.dbf
/selbe_gemeinde_weit.prj
/selbe_gemeinde_weit.sbn
/selbe_gemeinde_weit.sbx
/selbe_gemeinde_weit.shp
/selbe_gemeinde_weit.shp.xml
/selbe_gemeinde_weit.shx
